<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brendan Kelly</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/github">GitHub</a></li>
    </ul>
  </div>
</nav>
