body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EEF0F2;
}

navbar{
  background-color: #242423;
  opacity: 50%;
  position: absolute;
  top:0;
}
